@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  margin-bottom: 12px;
  outline: none;
  color: white;
}
